.top-bar {
  height: 5vh;
  font-family: "Roboto";
  background-color: #1976d2;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
